<br>
<header>
  <div class="container">
    <h1 class="display-4 text-center">Favourites</h1>
  </div>
</header>
<div class="container">
  <div class="row mb-3" *ngFor="let f of favoritesList">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-2">          
          <img src="https://image.tmdb.org/t/p/w500{{f.poster_path}}" class="card-img" alt="Movie Image">
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h4 class="card-title">{{f.title}}</h4>
            <p class="card-text">{{f.overview}}</p>
            <p class="card-text">Rating : {{f.rating}}/10</p>
            <div class="form-group">
              <label for="comment">Comments</label>
              <p>{{f.comments}}</p>
              <textarea #comment class="form-control" placeholder="Enter Comments here" rows="2" id="commentarea"></textarea><br>
              <button (click)="addComm(comment.value, f)" type="button" class="btn btn-primary">Comment</button>
              <button type="button" (click)="removeFav(f.id); removeFav(f.id)" class="btn btn-danger float-right">Remove from Favorites</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
