article{
    margin-top: 4rem;
    padding-top: 10rem;
    padding-left: 1rem;
}
body{
    background: black;
}
h2{
    color: forestgreen;
    font-size: 2.5rem;
}
article{
    color: white;
    text-align: center;
}
img{
    padding-top: 1rem;
}
span{
    color: yellow;
}
.details{
    text-align: left;
    font-size: 1.25rem;
    color: aqua;
}
p{
    color: white;
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
}
i{
    padding-right: 1rem;
}